<!DOCTYPE html>
<html>

  <head>
    <title>Xalyfi twitter service</title>
    <meta name="description" content="Xalyfi twitter service" />
    <link rel="shortcut icon" href="/images/Xalyfi.ico" />
    <meta property="og:image" content="/images/Xalyfi.png" />
    <meta name="theme-color" content="#00aced" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <section class="layout">
      <div class="sidebar">
        <div class="title_pannel">
          <img src="/images/Xalyfi.png" alt="Xalyfi" />
          <h2 class="title"><a href="">Xalyfi on Twitter</a></h2>
        </div>
        <ul class="page_menu">
          <a href="/">
            <li class="page_button">
              <p>Home</p>
            </li>
          </a>
          <a href="/follows">
            <li class="page_button">
                <p>Follows</p>
            </li>
          </a>
          <a href="/followers">
            <li class="page_button">
              <p>Followers</p>
            </li>
          </a>
          <a href="/login">
            <li class="page_button">
              <p>Login</p>
            </li>
          </a>
        </ul>
      </div>
      <div class="body">
        <% if (user){ %>
          <h1><%= user %></h1>
        <% } else { %>
          <h1>Home</h1>
        <% } %>
      </div>
    </section>
  </body>

</html>