<!DOCTYPE html>
<html>
  <head>
    <title>Xalyfi twitter service</title>
    <!-- 埋め込みの説明文 -->
    <meta name="description" content="Xalyfi twitter service">
    <link rel="shortcut icon" href="/images/Xalyfi.ico">
    <meta property="og:image" content="/images/Xalyfi.png" />
    <meta name="theme-color" content="#00aced">
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <section class="layout">
        <div class="sidebar">
          <h3>Xalyfi on Twitter</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
        <div class="body">2</div>
    </section>
  </body>
</html>

