*{
  margin: 0;
}

.layout {
  width: 1920px;
  height: 1080px;

  display: grid;
  grid:
    "sidebar body" 100%
    / 15% auto;
  gap: 8px;
}

.sidebar { grid-area: sidebar; 
           background-color: deepskyblue;
}
.body { 
        grid-area: body; 
}

.title_pannel {
  width: 100%;
  height: 75px;
  background-color: whitesmoke;
}

.title a {
  text-decoration: none;
  color: deepskyblue;
}

.title{
    padding-left: 15%;
    padding-top: 7%;
    font-weight: bold;
    color: deepskyblue;
}

/*ページメニューを.sidebarに合わせて配置*/
.page_menu {
  padding: 0;
  width: auto;
  height: 75%;
  background-color: deepskyblue;
}

.page_button {
  font-size: 40px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/*aタグの下線を消す*/
.page_menu a {
  text-decoration: none;
  color: whitesmoke;
}

/*メニューのホバー時の色変更*/
.page_menu li:hover {
  transition: 500ms;
  background-color: skyblue;
  color: white;
}

.follower{
  padding-bottom: 5%;
  display: flex;
  border-radius:15px;
  margin-top: 10px;
  background-color: deepskyblue;
}

.follower p{
  padding-left: 10px;
  font-size: 20px;
  color: whitesmoke;
}

.follower a{
  text-decoration: none;
  color: whitesmoke;
}

.follower_name h4{
  padding-left: 10px;
  padding-top: 1px;
  font-size: 20px;
  color: red;
}

.follower_icon{
  padding-top: 10px;
  padding-left: 10px;
}

.follower_icon img{
  border-radius: 50%;
}

.f {
  display: inline-block;
}

.follower_description{
  display:block;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 15px;
  color: whitesmoke;
}